<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudflow.oa.mapper.OaLicenseMapper">

    <select id="getTodayBorrowMaxSeq" resultType="java.lang.Integer">
        SELECT MAX(CAST(SUBSTRING(borrow_no, 11) AS UNSIGNED))
        FROM oa_license_borrow
        WHERE borrow_no LIKE CONCAT('ZZ', DATE_FORMAT(NOW(), '%Y%m%d'), '%')
    </select>

</mapper>
