<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudflow.oa.mapper.OaSealRenewalMapper">

    <select id="getTodayRenewalMaxSeq" resultType="java.lang.Integer">
        SELECT MAX(CAST(SUBSTRING(renewal_no, 11) AS UNSIGNED))
        FROM oa_seal_renewal
        WHERE renewal_no LIKE CONCAT('YZ', DATE_FORMAT(NOW(), '%Y%m%d'), '%')
    </select>

</mapper>
