<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudflow.oa.mapper.SysConsumableMapper">

    <select id="selectLowStockList" resultType="com.cloudflow.oa.domain.SysConsumable">
        SELECT *
        FROM oa_consumable
        WHERE quantity &lt;= low_stock_threshold
          AND warn_enabled = 1
          AND deleted = 0
        ORDER BY quantity ASC
    </select>

</mapper>
