<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudflow.crm.mapper.CrmLeadMapper">

    <select id="selectPageByDataScope" resultType="com.cloudflow.crm.domain.CrmLead">
        SELECT *
        FROM crm_lead
        <where>
            deleted = '0'
            <if test="query != null">
                <if test="query.leadName != null and query.leadName != ''">
                    AND lead_name LIKE CONCAT('%', #{query.leadName}, '%')
                </if>
                <if test="query.companyName != null and query.companyName != ''">
                    AND company_name LIKE CONCAT('%', #{query.companyName}, '%')
                </if>
                <if test="query.contactName != null and query.contactName != ''">
                    AND contact_name LIKE CONCAT('%', #{query.contactName}, '%')
                </if>
                <if test="query.mobile != null and query.mobile != ''">
                    AND mobile LIKE CONCAT('%', #{query.mobile}, '%')
                </if>
                <if test="query.status != null and query.status != ''">
                    AND status = #{query.status}
                </if>
                <if test="query.ownerId != null">
                    AND owner_id = #{query.ownerId}
                </if>
            </if>
        </where>
        ORDER BY update_time DESC
    </select>

</mapper>
