<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudflow.crm.mapper.CrmProductMapper">

    <select id="selectPageByDataScope" resultType="com.cloudflow.crm.domain.CrmProduct">
        SELECT *
        FROM crm_product
        <where>
            deleted = '0'
            <if test="query != null">
                <if test="query.productName != null and query.productName != ''">
                    AND product_name LIKE CONCAT('%', #{query.productName}, '%')
                </if>
                <if test="query.productNo != null and query.productNo != ''">
                    AND product_no LIKE CONCAT('%', #{query.productNo}, '%')
                </if>
                <if test="query.category != null and query.category != ''">
                    AND category LIKE CONCAT('%', #{query.category}, '%')
                </if>
                <if test="query.status != null and query.status != ''">
                    AND status = #{query.status}
                </if>
            </if>
        </where>
        ORDER BY update_time DESC
    </select>

</mapper>
