<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.joywon.poco.knowledge.mapper.AiDatasetMapper">

    <resultMap id="aiDatasetMap" type="cn.joywon.poco.knowledge.entity.AiDatasetEntity">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="avatarUrl" column="avatar_url"/>
        <result property="description" column="description"/>
        <result property="units" column="units"/>
        <result property="fileSize" column="file_size"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <select id="getAiDatasetPage" resultType="cn.joywon.poco.knowledge.entity.AiDatasetEntity">
        SELECT
        d.id,
        d.name,
        d.avatar_url,
        d.description,
        d.collection_name,
        d.file_size,
        d.multi_round,
        d.top_k,
        d.score,
        d.sort_order,
        d.fragment_size,
        d.empty_desc,
        d.sensitive_flag,
        d.sensitive_msg,
        d.welcome_msg,
        d.public_flag,
        d.public_password,
        d.embedding_model,
        d.summary_model,
        d.pre_summary,
        d.pre_compress,
        d.ai_ocr_flag,
        d.del_flag,
        d.create_time,
        d.update_time,
        d.create_by,
        d.update_by,
        d.footer,
        d.standard_flag,
        (SELECT COUNT(*) FROM ai_document doc WHERE doc.dataset_id = d.id AND doc.del_flag = '0') AS units
        FROM ai_dataset d
        WHERE d.del_flag = '0'
        ORDER BY d.create_time DESC
    </select>
</mapper>
