<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.joywon.poco.knowledge.mapper.AiDocumentMapper">

    <resultMap id="aiDocumentMap" type="cn.joywon.poco.knowledge.entity.AiDocumentEntity">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="fileType" column="file_type"/>
        <result property="sourceType" column="source_type"/>
        <result property="sliceCount" column="slice_count"/>
        <result property="hitCount" column="hit_count"/>
        <result property="fileSize" column="file_size"/>
        <result property="fileStatus" column="file_status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <select id="getDocumentPage" resultType="cn.joywon.poco.knowledge.entity.AiDocumentEntity">
        SELECT
        d.id,
        d.dataset_id,
        d.name,
        d.file_type,
        d.file_url,
        d.file_hash,
        d.source_type,
        d.hit_count,
        d.file_size,
        d.file_status,
        d.slice_status,
        d.create_time,
        d.update_time,
        d.create_by,
        d.update_by,
        d.del_flag,
        d.summary_status,
        d.slice_fail_reason,
        d.summary,
        d.summary_fail_reason,
        d.document_config,
        (SELECT COUNT(*) FROM ai_slice s WHERE s.document_id = d.id AND s.del_flag = '0') AS slice_count
        FROM ai_document d
        <where>
            d.del_flag = '0'
            <if test="query.datasetId != null and query.datasetId != ''">
                AND d.dataset_id = #{query.datasetId}
            </if>
            <if test="query.summaryStatus != null and query.summaryStatus != ''">
                AND d.summary_status = #{query.summaryStatus}
            </if>
            <if test="query.sliceStatus != null and query.sliceStatus != ''">
                AND d.slice_status = #{query.sliceStatus}
            </if>
            <if test="query.sourceType != null and query.sourceType != ''">
                AND d.source_type = #{query.sourceType}
            </if>
            <if test="query.name != null and query.name != ''">
                <bind name="nameLike" value="'%'+query.name+'%'"/>
                AND d.name LIKE #{nameLike}
            </if>
        </where>
        ORDER BY d.create_time DESC
    </select>
</mapper>
