<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.joywon.poco.knowledge.mapper.AiPromptMapper">

  <resultMap id="aiPromptMap" type="cn.joywon.poco.knowledge.entity.AiPromptEntity">
        <id property="id" column="id"/>
        <result property="act" column="act"/>
        <result property="prompt" column="prompt"/>
        <result property="promptSort" column="prompt_sort"/>
        <result property="promptStatus" column="prompt_status"/>
        <result property="userId" column="user_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
  </resultMap>
</mapper>