<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.joywon.poco.merchant.CouponModule.mapper.JointMarketingParticipantMapper">

    <!--  查询联合营销邀请记录  -->
    <select id="queryInviteRecord"
            resultType="cn.joywon.poco.merchant.CouponModule.vo.JointMarketingInviteRecordVO"
            parameterType="cn.joywon.poco.merchant.CouponModule.dto.JointMarketingInviteQueryDTO">

        SELECT plan.id AS planId,
        plan.name AS planName,
        plan.status AS planStatus,
        plan.start_time AS planStartTime,
        plan.end_time AS planEndTime,
        participant.id AS participantId,
        participant.status AS participantStatus,
        participant.expiry_time AS participantExpiryTime,
        participant.join_time AS participantJoinTime,
        participant.created_time AS inviteTime,
        merchant.id AS merchantId,
        merchant.name AS merchantName

        FROM merchants AS merchant
        JOIN joint_marketing_plan AS plan ON merchant.id = plan.initiator_merchant_id
        JOIN joint_marketing_participant AS participant ON plan.id = participant.plan_id

        WHERE participant.merchant_id = #{dto.merchantId}
        AND plan.is_deleted = 0 AND participant.is_deleted = 0 AND merchant.is_deleted = 0
        <if test="dto.invitationMerchantIds != null and dto.invitationMerchantIds.size > 0">
            AND plan.initiator_merchant_id IN
            <foreach collection="dto.invitationMerchantIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        <if test="dto.status != null and dto.status != ''">
            AND participant.status = #{dto.status}
        </if>
        <if test="dto.inviteStartTime != null">
            AND participant.created_time &gt;= #{dto.inviteStartTime}
        </if>
        <if test="dto.inviteEndTime != null">
            AND participant.created_time &lt;= #{dto.inviteEndTime}
        </if>
        <if test="dto.acceptStartTime != null">
            AND participant.join_time &gt;= #{dto.acceptStartTime}
        </if>
        <if test="dto.acceptEndTime != null">
            AND participant.join_time &lt;= #{dto.acceptEndTime}
        </if>

        <if test="dto.orderByAsc != null">
            ORDER BY participant.created_time ${dto.orderByAsc ? 'ASC' : 'DESC'}
        </if>

    </select>

    <!--  获取联合营销计划申请加入列表  -->
    <select id="getApplyJoinList" resultType="cn.joywon.poco.merchant.CouponModule.vo.JointMarketingApplyJoinVO">

        SELECT jmp.info,
               jmp.status,
               jmp.id AS participantId,
               jmp.created_time AS applyTime,
               jmp.merchant_id,
               m.name AS merchantName,
               m.logo_url AS merchantLogo

        FROM joint_marketing_participant AS jmp
                 JOIN merchants AS m ON jmp.merchant_id = m.id

        WHERE m.is_enable = 1
          AND m.is_deleted = 0
          AND jmp.is_deleted = 0
          AND jmp.plan_id = #{planId}
          AND jmp.role = 'PARTICIPANT'
          AND jmp.status = 'APPLY_JOIN'

        ORDER BY jmp.created_time

    </select>

</mapper>