<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.joywon.poco.merchant.CouponModule.mapper.UserCouponMapper">


    <!--  检查用户是否领取过列表中优惠券
          List<UserClaimedCouponCountBO> checkCouponHasClaimed(List<Long> couponTemplateIds, Long userId)  -->
    <select id="checkCouponHasClaimed"
            resultType="cn.joywon.poco.merchant.CouponModule.bo.UserClaimedCouponCountBO">

        SELECT template_id AS couponTemplateId, COUNT(id) AS claimedCount

        FROM user_coupons WHERE user_id = #{userId} AND template_id IN
        <foreach collection="couponTemplateIds" item="tid" open="(" separator="," close=")">
            #{tid}
        </foreach>

        GROUP BY template_id

    </select>


    <!--  根据用户优惠券ID查询优惠券码信息
          UserCouponCodeVO getByIdOrCode(Long couponId)  -->
    <select id="getByIdOrCode" resultType="cn.joywon.poco.merchant.CouponModule.vo.UserCouponCodeVO">

        SELECT uc.id AS couponId,
        uc.coupon_code,
        uc.coupon_status AS userCouponStatus,
        uc.valid_start_time,
        uc.valid_end_time,
        uc.created_time AS receivedTime,
        ct.name,
        ct.type,
        ct.summary,
        ct.coupon_status,
        ct.discount_rate,
        ct.discount_amount

        FROM coupon_templates AS ct
        JOIN user_coupons AS uc ON ct.id = uc.template_id

        WHERE uc.is_deleted = 0
        AND
        <choose>
            <when test="couponId != null">
                uc.id = #{couponId}
            </when>
            <otherwise>
                uc.coupon_code = #{couponCode}
            </otherwise>
        </choose>

    </select>


    <!--  获取用户未使用优惠券ID列表
          List<UserCoupon> getUserUnusedCouponTemplateIds(Long userId)  -->
    <select id="getUserUnusedCouponTemplateIds" resultType="cn.joywon.poco.merchant.CouponModule.entity.UserCoupon">


        SELECT t.template_id, t.id
        FROM (SELECT template_id,
                     id,
                     ROW_NUMBER() OVER (PARTITION BY template_id ORDER BY created_time DESC) AS rn
              FROM user_coupons
              WHERE is_deleted = 0
                AND user_id = #{userId}
                AND coupon_status = 'UNUSED'
                AND valid_end_time &gt; NOW()
                AND valid_start_time &lt;= NOW()) AS t
        WHERE t.rn = 1

    </select>


    <!--  查询用户可用优惠券列表
          List<UserCouponUsableVO> queryAvailableCoupons(List<Long> couponIds)  -->
    <select id="queryAvailableCoupons" resultType="cn.joywon.poco.merchant.CouponModule.vo.UserCouponUsableVO">

        SELECT
        uc.id AS couponId,
        uc.coupon_status,
        uc.valid_start_time,
        uc.valid_end_time,
        ct.name,
        ct.summary,
        ct.min_spend_amount,
        ct.max_deductible_amount,
        ct.id AS couponTemplateId,
        ct.discount_rate,
        ct.discount_amount,
        ct.scope,
        ct.type

        FROM coupon_templates AS ct
        JOIN user_coupons AS uc ON ct.id = uc.template_id
        WHERE uc.id IN
        <foreach collection="couponIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>

    </select>

</mapper>