<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.joywon.poco.merchant.ReportModule.mapper.ReportJointMarketingMapper">

    <resultMap id="BaseResultMap" type="cn.joywon.poco.merchant.ReportModule.entity.ReportJointMarketing">
        <id column="id" property="id" />
        <result column="stat_date" property="statDate" />
        <result column="merchant_id" property="merchantId" />
        <result column="role_type" property="roleType" />
        <result column="trigger_count" property="triggerCount" />
        <result column="coupon_issued" property="couponIssued" />
        <result column="coupon_used" property="couponUsed" />
        <result column="share_amount" property="shareAmount" />
        <result column="new_customer_count" property="newCustomerCount" />
        <result column="cross_merchant_orders" property="crossMerchantOrders" />
        <result column="created_by" property="createdBy" />
        <result column="created_time" property="createdTime" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_time" property="updatedTime" />
        <result column="is_deleted" property="isDeleted" />
        <result column="deleted_time" property="deletedTime" />
    </resultMap>

</mapper>
