<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.joywon.poco.merchant.ReportModule.mapper.ReportHourlySalesMapper">

    <resultMap id="BaseResultMap" type="cn.joywon.poco.merchant.ReportModule.entity.ReportHourlySales">
        <id column="id" property="id" />
        <result column="stat_date" property="statDate" />
        <result column="merchant_id" property="merchantId" />
        <result column="store_id" property="storeId" />
        <result column="hour_of_day" property="hourOfDay" />
        <result column="order_count" property="orderCount" />
        <result column="sales_amount" property="salesAmount" />
        <result column="avg_order_value" property="avgOrderValue" />
        <result column="is_peak" property="isPeak" />
        <result column="is_valley" property="isValley" />
        <result column="created_by" property="createdBy" />
        <result column="created_time" property="createdTime" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_time" property="updatedTime" />
        <result column="is_deleted" property="isDeleted" />
        <result column="deleted_time" property="deletedTime" />
    </resultMap>

</mapper>
