<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.joywon.poco.merchant.ReportModule.mapper.ReportPointsFlowMapper">

    <resultMap id="BaseResultMap" type="cn.joywon.poco.merchant.ReportModule.entity.ReportPointsFlow">
        <id column="id" property="id" />
        <result column="stat_date" property="statDate" />
        <result column="merchant_id" property="merchantId" />
        <result column="store_id" property="storeId" />
        <result column="source_type" property="sourceType" />
        <result column="earned_points" property="earnedPoints" />
        <result column="consumed_points" property="consumedPoints" />
        <result column="expired_points" property="expiredPoints" />
        <result column="net_points" property="netPoints" />
        <result column="deduction_amount" property="deductionAmount" />
        <result column="equivalent_cost" property="equivalentCost" />
        <result column="created_by" property="createdBy" />
        <result column="created_time" property="createdTime" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_time" property="updatedTime" />
        <result column="is_deleted" property="isDeleted" />
        <result column="deleted_time" property="deletedTime" />
    </resultMap>

</mapper>
