<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.joywon.poco.merchant.ReportModule.mapper.ReportReceivableMapper">

    <resultMap id="BaseResultMap" type="cn.joywon.poco.merchant.ReportModule.entity.ReportReceivable">
        <id column="id" property="id" />
        <result column="stat_date" property="statDate" />
        <result column="merchant_id" property="merchantId" />
        <result column="merchant_name" property="merchantName" />
        <result column="total_receivable" property="totalReceivable" />
        <result column="aging_0_to_7" property="aging0To7" />
        <result column="aging_8_to_15" property="aging8To15" />
        <result column="aging_16_to_30" property="aging16To30" />
        <result column="aging_over_30" property="agingOver30" />
        <result column="pending_order_count" property="pendingOrderCount" />
        <result column="expected_settle_date" property="expectedSettleDate" />
        <result column="last_settled_amount" property="lastSettledAmount" />
        <result column="created_by" property="createdBy" />
        <result column="created_time" property="createdTime" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_time" property="updatedTime" />
        <result column="is_deleted" property="isDeleted" />
        <result column="deleted_time" property="deletedTime" />
    </resultMap>

</mapper>
