<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.joywon.poco.merchant.PlatformModule.mapper.MerchantAuditMapper">


    <!--  获取商家审核列表
          Page<MerchantAuditListVO> getAuditList(Page<> page, MerchantAuditQueryDTO dto)  -->
    <select id="getAuditList"
            resultType="cn.joywon.poco.merchant.MerchantModule.vo.MerchantAuditListVO"
            parameterType="cn.joywon.poco.merchant.MerchantModule.dto.MerchantAuditQueryDTO">

        SELECT i.name AS industryName,
        ma.logo_url,
        ma.audit_type,
        ma.license_no,
        ma.audit_status,
        ma.legal_person,
        ma.created_time,
        ma.contact_name,
        ma.id AS auditId,
        ma.contact_phone,
        ma.business_status,
        ma.name AS merchantName,
        CONCAT(ma.location, ma.address_detail) AS addressDetail

        FROM merchant_audit AS ma
        LEFT JOIN merchants AS m ON ma.id = m.audit_id
        LEFT JOIN industries AS i ON ma.industry_id = i.id

        <where>
            <if test="dto.name != null and dto.name != ''">
                AND ma.name LIKE CONCAT(#{dto.name}, '%') OR m.name LIKE CONCAT(#{dto.name}, '%')
            </if>

            <if test="dto.auditStatuses != null and dto.auditStatuses.size > 0">
                AND ma.audit_status IN
                <foreach collection="dto.auditStatuses" item="status" open="(" separator="," close=")">
                    #{status}
                </foreach>
            </if>

            <if test="dto.auditTypes != null and dto.auditTypes.size > 0">
                AND ma.audit_type IN
                <foreach collection="dto.auditTypes" item="type" open="(" separator="," close=")">
                    #{type}
                </foreach>
            </if>

            <if test="dto.startDate != null">
                AND ma.created_time &gt;= #{dto.startDate}
            </if>

            <if test="dto.endDate != null">
                AND ma.created_time &lt;= DATE_ADD(#{dto.endDate}, INTERVAL 1 DAY)
            </if>
        </where>

        ORDER BY
        <if test="dto.orderByCreateTime == null or !dto.orderByCreateTime">
            ma.created_time DESC
        </if>
        <if test="dto.orderByCreateTime != null and dto.orderByCreateTime">
            ma.created_time ASC
        </if>

    </select>


    <!--  获取商家审核历史列表
          Page<AuditStatusVO> getAuditHistoryList(Page<> page, MerchantAuditQueryDTO dto)  -->
    <select id="getAuditHistoryList"
            resultType="cn.joywon.poco.merchant.MerchantModule.vo.AuditStatusVO"
            parameterType="cn.joywon.poco.merchant.MerchantModule.dto.MerchantAuditQueryDTO">

        SELECT id AS auditId,
        audit_type,
        audit_status,
        created_time,
        audit_time,
        audit_remark,
        modify_reason

        FROM merchant_audit

        <where>
            AND merchant_id = #{dto.merchantId}

            <if test="dto.auditStatuses != null and dto.auditStatuses.size > 0">
                AND audit_status IN
                <foreach collection="dto.auditStatuses" item="status" open="(" separator="," close=")">
                    #{status}
                </foreach>
            </if>

            <if test="dto.auditTypes != null and dto.auditTypes.size > 0">
                AND audit_type IN
                <foreach collection="dto.auditTypes" item="type" open="(" separator="," close=")">
                    #{type}
                </foreach>
            </if>
        </where>

        ORDER BY
        <if test="dto.orderByCreateTime == null or !dto.orderByCreateTime">
            created_time DESC
        </if>
        <if test="dto.orderByCreateTime != null and dto.orderByCreateTime">
            created_time ASC
        </if>

    </select>

</mapper>