<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.joywon.poco.merchant.PlatformModule.mapper.NavigationMenuMapper">


    <!--  删除导航菜单及子级
          int deleteNavigationMenuAndSubs(List<Long> ids)  -->
    <update id="deleteNavigationMenuAndSubs" parameterType="java.util.List">

        UPDATE navigation_menu
        SET is_enable = 0, is_deleted = 1, deleted_time = NOW()
        WHERE id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>

    </update>


    <!--  获取导航菜单下子菜单ID列表
          List<Long> getSubNavigationMenuIds(String id)  -->
    <select id="getSubNavigationMenuIds" resultType="java.lang.Long">

        WITH RECURSIVE sub AS (SELECT id, parent_id
                               FROM navigation_menu
                               WHERE id = #{id}

                               UNION ALL

                               SELECT p.id, p.parent_id
                               FROM navigation_menu AS p
                                        INNER JOIN sub AS s ON p.id = s.parent_id)
        SELECT id
        FROM sub

    </select>


    <!--  查询小程序导航菜单列表
          Page<NavigationMenuVO> queryNavigationMenuList(Page<> page, NavigationMenuQueryDTO dto)  -->
    <select id="queryNavigationMenuList"
            resultType="cn.joywon.poco.merchant.PlatformModule.vo.NavigationMenuVO"
            parameterType="cn.joywon.poco.merchant.PlatformModule.dto.NavigationMenuQueryDTO">

        SELECT nm.id,
        nm.name,
        nm.type,
        nm.depth,
        nm.image_url,
        nm.parent_id,
        nm.target_id,
        nm.sort_weight,
        nm.created_time,
        nm.is_enable AS enable,
        pnm.name AS parentName

        FROM navigation_menu AS nm
        LEFT JOIN navigation_menu AS pnm ON nm.parent_id = pnm.id

        <where>
            AND nm.is_deleted = 0

            <if test="dto.name != null and dto.name != ''">
                AND nm.`name` LIKE CONCAT(#{dto.name}, '%')
            </if>

            <if test="dto.type != null and dto.type != ''">
                AND nm.`type` = #{dto.type}
            </if>

            <if test="dto.depth != null">
                AND nm.`depth` = #{dto.depth}
            </if>

            <if test="dto.enable != null">
                AND nm.`is_enable` = ${dto.enable ? 1 : 0}
            </if>

            <choose>
                <when test="dto.merchantId != null">
                    AND nm.`merchant_id` = #{dto.merchantId}
                </when>
                <otherwise>
                    AND nm.`merchant_id` = 0
                </otherwise>
            </choose>
        </where>

        ORDER BY
        <if test="dto.sortByDepth != null">
            nm.`depth` ${dto.sortByDepth ? 'ASC' : 'DESC'},
        </if>
        <if test="dto.sortByWeight != null">
            nm.`sort_weight` ${dto.sortByWeight ? 'ASC' : 'DESC'},
        </if>
        <if test="dto.sortByCreatedTime != null">
            nm.`created_time` ${dto.sortByCreatedTime ? 'ASC' : 'DESC'},
        </if>
        nm.`id` DESC

    </select>


    <!--  【小程序端】获取小程序导航菜单树形列表
          List<MiniNavigationMenuVO> getMiniNavigationMenuTree(Long merchantId, String type)  -->
    <select id="getMiniNavigationMenuTree"
            resultType="cn.joywon.poco.merchant.PlatformModule.entity.NavigationMenu">

        WITH RECURSIVE tree AS (SELECT id,
                                       name,
                                       depth,
                                       image_url,
                                       parent_id,
                                       target_id,
                                       sort_weight

                                FROM navigation_menu

                                WHERE is_enable = 1
                                  AND parent_id = 0
                                  AND is_deleted = 0
                                  AND type = #{type}
                                  AND merchant_id = #{merchantId}

                                UNION ALL

                                SELECT nm.id,
                                       nm.name,
                                       nm.depth,
                                       nm.image_url,
                                       nm.parent_id,
                                       nm.target_id,
                                       nm.sort_weight

                                FROM navigation_menu AS nm
                                         INNER JOIN tree ON nm.parent_id = tree.id

                                WHERE nm.is_enable = 1
                                  AND nm.is_deleted = 0
                                  AND nm.type = #{type})

        SELECT tree.id,
               tree.name,
               tree.depth,
               tree.image_url,
               tree.parent_id,
               tree.target_id,
               tree.sort_weight

        FROM tree
        ORDER BY tree.depth, tree.sort_weight

    </select>


    <!--  获取小程序导航菜单属性
          NavigationMenuVO getNavigationMenu(Long menuId)  -->
    <select id="getNavigationMenu" resultType="cn.joywon.poco.merchant.PlatformModule.vo.NavigationMenuVO">

        SELECT nm.id,
               nm.name,
               nm.depth,
               nm.type,
               nm.image_url,
               nm.parent_id,
               nm.target_id,
               nm.sort_weight,
               nm.created_time,
               nm.is_enable AS enable,
               pnm.name     AS parentName

        FROM navigation_menu AS nm
                 LEFT JOIN navigation_menu AS pnm ON nm.parent_id = pnm.id

        WHERE nm.is_deleted = 0
          AND nm.id = #{menuId}

    </select>


</mapper>