<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.joywon.poco.merchant.MarketingModule.mapper.PointsMallCategoryMapper">


    <!--  查询分类及分类下所有子级分类列表
    List<PointsMallCategory> querySubCategoryList(@Param("id") Long id)  -->
    <select id="querySubCategoryIds" resultType="cn.joywon.poco.merchant.MarketingModule.entity.PointsMallCategory">

        WITH RECURSIVE tree AS (SELECT id, parent_id
                                FROM points_mall_categories
                                WHERE id = #{id}
                                  AND is_deleted = 0

                                UNION ALL

                                SELECT sub.id, sub.parent_id
                                FROM points_mall_categories AS sub
                                         INNER JOIN tree ON sub.parent_id = tree.id
                                WHERE sub.is_deleted = 0
                                  AND sub.is_enable = 1)
        SELECT id
        FROM tree

    </select>


    <!--  查询分类及分类下所有子级分类列表
    List<PointsMallCategory> querySubCategoryList(Long id, Boolean enable)  -->
    <select id="querySubCategoryList" resultType="cn.joywon.poco.merchant.MarketingModule.entity.PointsMallCategory">

        WITH RECURSIVE tree AS (SELECT
        <include refid="pointsMallCategoryColumns"/>
        FROM points_mall_categories
        WHERE parent_id = #{id}
        AND is_deleted = 0

        UNION ALL

        SELECT
        <include refid="subPointsMallCategoryColumns"/>
        FROM points_mall_categories AS sub
        INNER JOIN tree ON sub.parent_id = tree.id
        WHERE sub.is_deleted = 0
        <if test="enable != null">
            AND sub.is_enable = #{enable}
        </if>)

        SELECT
        <include refid="pointsMallCategoryColumns"/>
        FROM tree
        ORDER BY is_recommend DESC

    </select>


    <!--  根据父级分类名查询分类列表  -->
    <select id="querySubCategoryByName"
            resultType="cn.joywon.poco.merchant.MarketingModule.entity.PointsMallCategory"
            parameterType="cn.joywon.poco.merchant.MarketingModule.dto.PointsMallCategoryQueryDTO">

        WITH RECURSIVE tree AS (
        SELECT
        <include refid="pointsMallCategoryColumns"/>
        FROM points_mall_categories

        WHERE is_deleted = 0 AND name LIKE CONCAT(#{dto.parentName}, '%')

        UNION ALL

        SELECT
        <include refid="subPointsMallCategoryColumns"/>
        FROM points_mall_categories AS sub INNER JOIN tree ON sub.parent_id = tree.id

        WHERE sub.is_deleted = 0
        <if test="dto.name != null and dto.name != ''">
            AND sub.name LIKE CONCAT(#{dto.name}, '%')
        </if>
        <if test="dto.depth != null and dto.depth != 0">
            AND sub.depth = #{dto.depth}
        </if>
        <if test="dto.enable != null">
            AND sub.is_enable = IF(#{dto.enable} = true, 1, 0)
        </if>
        <if test="dto.hot != null">
            AND sub.is_hot = IF(#{dto.hot} = true, 1, 0)
        </if>
        <if test="dto.recommend != null">
            AND sub.is_recommend = IF(#{dto.recommend} = true, 1, 0)
        </if>
        )
        SELECT
        <include refid="pointsMallCategoryColumns"/>
        FROM tree

        ORDER BY depth, is_enable, sort_order, created_time

    </select>

    <!--  查询分类分页列表
    IPage<PointsMallCategory> queryCategoryList(Page<> page, PointsMallCategoryQueryDTO dto)  -->
    <select id="queryCategoryList"
            resultType="cn.joywon.poco.merchant.MarketingModule.entity.PointsMallCategory"
            parameterType="cn.joywon.poco.merchant.MarketingModule.dto.PointsMallCategoryQueryDTO">

        SELECT
        <include refid="pointsMallCategoryColumns"/>
        FROM points_mall_categories

        WHERE is_deleted = 0
        <if test="dto.name != null and dto.name != ''">
            AND name LIKE CONCAT(#{dto.name}, '%')
        </if>
        <if test="dto.depth != null and dto.depth >= 0">
            AND depth = #{dto.depth}
        </if>
        <if test="dto.hot != null">
            AND is_hot = IF(#{dto.hot} = true, 1, 0)
        </if>
        <if test="dto.recommend != null">
            AND is_recommend = IF(#{dto.recommend} = true, 1, 0)
        </if>
        <if test="dto.enable != null">
            AND is_enable = IF(#{dto.enable} = true, 1, 0)
        </if>

        ORDER BY depth, is_enable, sort_order, created_time

    </select>


    <!--  查询分类的顶级父级分类ID
    Long findTopParentCategory(Long id)  -->
    <select id="findTopParentCategory" resultType="java.lang.Long">

        WITH RECURSIVE sub AS (SELECT id, parent_id
                               FROM points_mall_categories
                               WHERE id = #{id}

                               UNION ALL

                               SELECT parent.id, parent.parent_id
                               FROM points_mall_categories AS parent
                                        INNER JOIN sub ON parent.id = sub.parent_id)

        SELECT id
        FROM sub
        WHERE parent_id = 0

    </select>


    <!--  积分商城商品分类实体查询字段  -->
    <sql id="pointsMallCategoryColumns">
        id,
        depth,
        parent_id,
        name,
        icon,
        banner_image,
        description,
        sort_order,
        is_hot,
        is_recommend,
        is_enable,
        product_count,
        target_audience,
        created_time
    </sql>


    <!--  积分商城商品分类实体自关联查询字段  -->
    <sql id="subPointsMallCategoryColumns">
        sub.id,
        sub.depth,
        sub.parent_id,
        sub.name,
        sub.icon,
        sub.banner_image,
        sub.description,
        sub.sort_order,
        sub.is_hot,
        sub.is_recommend,
        sub.is_enable,
        sub.product_count,
        sub.target_audience,
        sub.created_time
    </sql>


</mapper>