<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.joywon.poco.merchant.PointsModule.mapper.PointsFlowMapper">


    <!--  获取指定时间范围内变动的积分数量
    List<Integer> getPointsChangeTotal(Long ownerId, String ownerType, LocalDateTime startTime, LocalDateTime endTime)  -->
    <select id="getPointsChangeTotal" resultType="java.lang.Integer">

        SELECT change_points
        FROM points_flow
        WHERE is_deleted = 0
          AND owner_id = #{ownerId}
          AND owner_type = #{ownerType}
          AND change_type != 'EXPIRED_DEDUCT'
          AND created_time BETWEEN #{startTime} AND #{endTime}

    </select>


    <!--  查询积分流水记录列表
    Page<PointsFlowListVO> queryPointsFlow(Page<> page, PointsFlowQueryDTO dto, Long ownerId, String ownerType)  -->
    <select id="queryPointsFlow" resultType="cn.joywon.poco.merchant.PointsModule.vo.PointsFlowListVO">

        SELECT id,
        change_points,
        change_type,
        batch_gain_date,
        created_time,
        remark

        FROM points_flow

        <where>
            is_deleted = 0
            AND owner_id = #{ownerId}
            AND owner_type = #{ownerType}

            <if test="dto.positiveValue != null">
                AND ${dto.positiveValue ? 'change_points gt 0' : 'change_points lt 0'}
            </if>

            <if test="dto.changeTypes != null and dto.changeTypes.size() > 0">
                AND change_type IN
                <foreach item="type" collection="dto.changeTypes" open="(" separator="," close=")">
                    #{type}
                </foreach>
            </if>

            <if test="dto.startTime != null">
                AND created_time &gt;= #{dto.startTime}
            </if>

            <if test="dto.endTime != null">
                AND created_time &lt;= #{dto.endTime}
            </if>
        </where>

        <choose>
            <when test="dto.sortByTime != null and dto.sortByTime">
                ORDER BY created_time
            </when>
            <otherwise>
                ORDER BY created_time DESC
            </otherwise>
        </choose>

    </select>


</mapper>